/*********************
DEFAULT CSS
*********************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --inkwell-blue: #2e4057;
    --intensity-indigo: #ee583f;
    --dusty-rose: #f7b3cc;
    --aged-gold: #c7b65e;
    --parchment-white: #fff7ee;
    --bookish-black: #131c26;
}

body {
    font-size: 1.125rem;
    line-height: 1.5;
}

main {
    width: min(70ch, 100% - 4rem);
    margin-inline: auto;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

input,
textarea {
    min-width: 0;
}

/*********************
FONT FAMILIES
*********************/

@font-face {
    font-family: "Comfortaa";
    src: url("../assets/fonts/Comfortaa-VariableFont_wght.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Calibri";
    src: url("../fonts/calibri-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Calibri";
    src: url("../fonts/calibri-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Calibri";
    src: url("../fonts/calibri-italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Calibri";
    src: url("../fonts/calibri-bold-italic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Aria";
    src: url("../assets/fonts/Aria-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*********************
MOBILE CSS
*********************/

body {
    font-family: Aria, Calibri, Comfortaa, system-ui;
    background-color: var(--parchment-white);
    color: var(--bookish-black);
}

/* HERO */
#hero-section {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--inkwell-blue);
    padding: 0 0 0.5rem 0;
    margin: -0.5rem 0 0 -0.5rem;
    width: 100vw;
}

#hero-image-logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-image-mobile {
    opacity: 40%;
}

#hero-header {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1rem;
}

#hero-image-logo {
    position: static;
    background-color: var(--inkwell-blue);
    border: 3px solid var(--parchment-white);
    padding: 0.75rem;
}

#hero-h1 {
    position: static;
    color: var(--parchment-white);
    line-height: 1.125;
}

/* HAMBURGER/CLOSE  BUTTON */
#hamburger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
}

#hamburger-btn-img {
    scale: 3;
    background-color: var(--inkwell-blue);
    color: var(--parchment-white);
    border: 1px solid var(--inkwell-blue);
    border-radius: 2px;
}

#close-btn-img {
    scale: 2;
    background-color: var(--inkwell-blue);
    color: var(--parchment-white);
    border: 1px solid var(--inkwell-blue);
    border-radius: 2px;
}

/* Close Hamburger Button */

#close-btn-img {
    display: none;
}

#mobile-navbar:hover #hamburger-btn-img,
#hamburger-btn:hover #hamburger-btn-img {
    display: none;
}

#mobile-navbar:hover #close-btn-img,
#hamburger-btn:hover #close-btn-img {
    display: block;
}

/* TODO: Change to an onclick event in JS */
#hamburger-btn-img:hover {
    background-color: var(--parchment-white);
    color: var(--inkwell-blue);
    cursor: pointer;
    border: 1px solid var(--parchment-white);
    border-radius: 2px;
}

/* TODO: Change  to an onclick event in JS */
#hamburger-btn:hover + nav,
#mobile-navbar > nav:hover {
    display: block;
}

/* MOBILE NAV LIST */
#mobile-navbar {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -48px;
}

#mobile-navbar > nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 50vw;
    transform: translateX(-55%);
    background-color: var(--inkwell-blue);
    text-align: center;
    border-radius: 0 0 5px 5px;
    width: 150px;
}

.mobile-navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile-navbar-list-link {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 1.125em;
    text-decoration: none;
    color: var(--parchment-white);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* TODO: Change to an onclick event in JS */
.mobile-navbar-list-link:hover {
    color: var(--inkwell-blue);
    background-color: var(--parchment-white);
    text-decoration: underline;
}

#hours {
    width: 275px;
    border: 1px solid var(--bookish-black);
}

#hours th,
#hours td {
    border: 1px solid var(--bookish-black);
}

/*********************
MEDIA QUERIES
*********************/
