*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --inkwell-blue: #2e4057;
    --intensity-indigo: #ee583f;
    --dusty-rose: #f7b3cc;
    --aged-gold: #c7b65e;
    --parchment-white: #fff7ee;
    --bookish-black: #131c26;
}

body {
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 1.5;
}

main {
    width: min(70ch, 100% - 4rem);
    margin-inline: auto;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

input,
textarea {
    min-width: 0;
}

#hours {
    width: 275px;
    border: 1px solid var(--bookish-black);
}

#hours th,
#hours td {
    border: 1px solid var(--bookish-black);
}
