/*********************
DEFAULT CSS
*********************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --inkwell-blue: #2e4057;
    --intensity-indigo: #ee583f;
    --dusty-rose: #f7b3cc;
    --aged-gold: #c7b65e;
    --parchment-white: #fff7ee;
    --bookish-black: #131c26;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.5;
}

main {
    width: min(70ch, 100% - 4rem);
    margin-inline: auto;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

input,
textarea {
    min-width: 0;
    background-color: var(--parchment-white);
}

/*********************
FONT FAMILIES
*********************/

@font-face {
    font-family: "Comfortaa";
    src: url("../assets/fonts/Comfortaa-VariableFont_wght.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Calibri";
    src: url("../fonts/calibri-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Calibri";
    src: url("../fonts/calibri-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Calibri";
    src: url("../fonts/calibri-italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Calibri";
    src: url("../fonts/calibri-bold-italic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Aria";
    src: url("../assets/fonts/Aria-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*********************
MOBILE CSS
*********************/

body {
    font-family: Aria, Calibri, Comfortaa, system-ui;
    background-color: var(--parchment-white);
    color: var(--bookish-black);
}

/* HERO */
#hero-section {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--inkwell-blue);
    padding: 0 0 0.5rem 0;
    width: 100vw;
    border-bottom: 3px solid var(--aged-gold);
}

#hero-image-logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-image-mobile {
    opacity: 40%;
}

#hero-image-desktop {
    display: none;
}

#hero-header {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 1rem;
}

#hero-image-logo {
    position: static;
    background-color: var(--inkwell-blue);
    border: 3px solid var(--parchment-white);
    padding: 0.75rem;
}

#hero-h1 {
    position: static;
    color: var(--parchment-white);
    line-height: 1.125;
}

/* HAMBURGER/CLOSE  BUTTON */
#hamburger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
}

#hamburger-btn-img {
    scale: 3;
    background-color: var(--inkwell-blue);
    color: var(--parchment-white);
    border: 1px solid var(--inkwell-blue);
    border-radius: 2px;
}

#close-btn-img {
    scale: 2;
    background-color: var(--inkwell-blue);
    color: var(--parchment-white);
    border: 1px solid var(--inkwell-blue);
    border-radius: 2px;
}

/* Close Hamburger Button */

#close-btn-img {
    display: none;
}

#mobile-navbar:hover #hamburger-btn-img,
#hamburger-btn:hover #hamburger-btn-img {
    display: none;
}

#mobile-navbar:hover #close-btn-img,
#hamburger-btn:hover #close-btn-img {
    display: block;
}

/* TODO: Change to an onclick event in JS */
#hamburger-btn-img:hover {
    background-color: var(--parchment-white);
    color: var(--inkwell-blue);
    cursor: pointer;
    border: 1px solid var(--parchment-white);
    border-radius: 2px;
}

/* TODO: Change  to an onclick event in JS */
#hamburger-btn:hover + nav,
#mobile-navbar > nav:hover {
    display: block;
}

/* MOBILE NAV LIST */
#desktop-navbar {
    display: none;
}

#mobile-navbar {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -48px;
}

#mobile-navbar > nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 50vw;
    transform: translateX(-50%);
    background-color: var(--inkwell-blue);
    text-align: center;
    border-radius: 0 0 5px 5px;
    width: 150px;
}

.mobile-navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile-navbar-list-link {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 1.125em;
    text-decoration: none;
    color: var(--parchment-white);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* TODO: Change to an onclick event in JS */
.mobile-navbar-list-link:hover {
    color: var(--inkwell-blue);
    background-color: var(--parchment-white);
    text-decoration: underline;
}

/* FOOTER */
footer {
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--inkwell-blue);
    padding: 0 0 0.5rem 0;
    width: 100vw;
}

/* Footer Socials */
#footer-sub-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem 0 0 0;
    margin: 0;
    border-top: 2px solid var(--aged-gold);
}

#footer-socials {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--aged-gold);
    padding-bottom: 1rem;
    width: 100vw;
}

#footer-social-list {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-social-link svg {
    color: var(--parchment-white);
    width: 50px;
    height: 50px;
}

#instagram-svg,
#twitter-svg {
    scale: 0.85;
}

#youtube-svg {
    scale: 1.05;
}

/* Footer Sign Up Form */

#sign-up {
    margin-top: -0.75rem;
    margin-bottom: 3rem;
}

#sign-up-newsletter {
    color: var(--parchment-white);
    font-weight: 900;
    font-size: 1.5rem;
}

#sign-up-form-email-field {
    width: 100%;
    max-width: 400px;
    height: 2rem;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    font-size: 1rem;
    text-align: center;
}

#sign-up-submit-button {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--inkwell-blue);
    border: 2px solid var(--inkwell-blue);
    border-radius: 8px;
}

#sign-up-form-email-field::placeholder {
    font-weight: 900;
    color: var(--inkwell-blue);
    opacity: 70%;
}

#sign-up-form-email-field:focus {
    outline: 2px solid var(--aged-gold);
}

/* Footer External Links*/

#footer-external-links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    border-top: 2px solid var(--aged-gold);
}

.footer-external-link-item {
    padding: 1em;
}

.footer-external-link {
    color: var(--aged-gold);
    font-weight: 600;
}

/*********************
 * PAGE CONTENTS
*********************/

/*********************
 * HOME PAGE
*********************/
.home-page-section {
    padding: 0.75rem 0 0.75rem 0;
}

.home-page-h2 {
    font-family: Arial;
    font-weight: 900;
}

#home-page-client-highlights {
    font-family: Calibri;
}

#promo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promo-card {
    border: 3px solid var(--aged-gold);
    background-color: var(--inkwell-blue);
    border-radius: 5px;
    height: 20rem;
    margin: 0.25rem 0 0.25rem 0;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promo-description {
    font-family: Comfortaa;
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--parchment-white);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -2em;
}

.promo-image {
    border: 3px solid var(--aged-gold);
    border-radius: 5px;
}

#home-page-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0 1rem 0;
}

#shop-now-gallery-h2 {
    font-family: Comfortaa;
    font-weight: 900;
    color: var(--inkwell-blue);
    margin-top: -0.5rem;
    margin-bottom: -0.25rem;
}

#shop-now-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: var(--aged-gold);
    border: 3px solid var(--inkwell-blue);
    border-radius: 5px;
}

.shop-now-gallery-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-now-gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shop-now-gallery-image {
    margin: 1rem;
    border: 3px solid var(--inkwell-blue);
    border-radius: 5px;
}

.shop-now-btn {
    background-color: var(--inkwell-blue);
    color: var(--parchment-white);
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-family: Aria;
    font-weight: 900;
    font-size: 1rem;
}

#home-page-section-3 {
    background-color: var(--dusty-rose);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--inkwell-blue);
    border-radius: 5px;
}

.home-page-h3 {
    font-family: Comfortaa;
    color: var(--inkwell-blue);
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#why-shop-here-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dusty-rose);
    padding: 1rem;
}

.why-shop-here-gallery-image {
    border: 3px solid var(--inkwell-blue);
    border-radius: 5px;
    margin-bottom: -0.25rem;
}

.why-shop-here-sub {
    font-family: Comfortaa;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    color: var(--inkwell-blue);
}

#shop-by-category-header {
    font-family: Comfortaa;
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--bookish-black);
}

#shop-by-category-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0;
    margin: 0 0 1rem 0;
}

.shop-by-category-item {
    margin: 0.5rem 0 0.5rem 0;
}

.shop-by-category-link {
    font-family: Aria;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    color: var(--inkwell-blue);
}

/*********************
* GALLERY PAGE
*********************/

/*********************
 * ABOUT PAGE
*********************/

.about-section {
    padding: 0.75rem 0 0.75rem 0;
    border-bottom: 2px solid var(--bookish-black);
}

.about-heading-h2 {
    font-family: Arial;
    font-weight: 900;
}

#about-page-blurb {
    font-family: Calibri;
}

#about-heading-h3 {
    font-family: Arial;
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 0.75rem;
}

#hours {
    width: min(100%, 400px);
    border: 1px solid var(--bookish-black);
    margin-inline: auto;
    margin-bottom: 1rem;
}

#hours th,
#hours td {
    font-family: Calibri;
    font-weight: 500;
    text-align: center;
    border: 1px solid var(--bookish-black);
}

#about-contact-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;
    font-family: Comfortaa;
}

#about-contact-form input,
#about-contact-form textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--bookish-black);
    font-size: 1rem;
}

#about-custom-order-check {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    margin-bottom: 0.5rem;
    accent-color: var(--inkwell-blue);
}

#about-checkbox-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 0.5rem;
}

#about-custom-order-check-label {
    margin-top: 8px;
}

#about-contact-form-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-submit-form-btn,
#about-clear-form-btn {
    width: 60vw;
    height: 4rem;
    max-width: 400px;
    font-family: Comfortaa;
    font-weight: 900;
}

#about-submit-form-btn {
    background-color: var(--inkwell-blue);
    color: var(--parchment-white);
}

#about-clear-form-btn {
    background-color: var(--aged-gold);
    color: var(--inkwell-blue);
}

#about-section-3 {
    border-bottom: none;
}

/*********************
* CUSTOM PAGE
*********************/

/**********************
MEDIA QUERIES - DESKTOP
**********************/

@media all and (min-width: 800px) {
    /* HERO */
    #hero-image-mobile {
        display: none;
    }

    #hero-image-desktop {
        display: block;
        opacity: 40%;
        max-height: 60vh;
        width: 100vw;
        object-fit: cover;
    }

    #hero-section {
        border-bottom: none;
    }

    #hero-header {
        top: 20vh;
    }

    #hero-image-logo {
        border: 4px solid var(--parchment-white);
        scale: 1.25;
    }

    #hero-h1 {
        position: static;
        color: var(--parchment-white);
        line-height: 1.125;
        font-size: 3em;
    }

    /* NAVBAR */
    #mobile-navbar {
        display: none;
    }

    #desktop-navbar {
        display: block;
        width: 100vw;
        background-color: var(--inkwell-blue);
        padding: 0.5rem 1rem 1rem 1rem;
        border-bottom: 3px solid var(--aged-gold);
    }

    .desktop-navbar-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .desktop-navbar-list-link {
        text-align: center;
        font-size: 1.125em;
        font-weight: 900;
        text-decoration: none;
        color: var(--aged-gold);
        padding: 1rem 2rem;
    }

    .desktop-navbar-list-link:hover {
        text-decoration: underline;
    }

    /* FOOTER */
    #footer-sub-socials {
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    #footer-socials {
        margin-top: 1rem;
        margin-right: 1rem;
        justify-content: right;
        border-bottom: none;
    }

    #sign-up {
        display: flex;
        margin-left: 1rem;
    }

    #sign-up-newsletter {
        width: 250px;
    }

    #sign-up-form {
        margin-top: 2rem;
        margin-left: -2rem;
    }

    #sign-up-form-email-field {
        width: 250px;
    }

    #footer-external-links-list {
        margin-top: -2.5rem;
    }

    #footer-external-links-list {
        border-top: none;
    }

    /* HOME PAGE */
    #promo-section {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-basis: 0;
        flex-grow: 1;
    }

    .promo-card {
        height: 15em;
    }

    .promo-image:hover {
        scale: 1.05;
    }

    .shop-now-gallery-row {
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .shop-now-btn:hover {
        scale: 1.05;
        cursor: pointer;
    }

    #why-shop-here-gallery {
        flex-direction: row;
        gap: 1.5rem;
    }

    #shop-by-category-list {
        grid-template-columns: repeat(2, auto);
        gap: 0.5rem 3rem;
    }

    .shop-by-category-link:hover {
        text-decoration: underline;
    }

    /* GALLERY PAGE */

    /* ABOUT PAGE */

    /* CUSTOM PAGE */
}
